body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

form input, form button {
    padding: 10px;
    margin-bottom: 10px;
}

form input {
    width: 200px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

ul {
    list-style-type: none;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
